
{% extends "base.html.twig" %}

{% block title %}Accueil | MyPearl{% endblock %}

{% block body %}
    <h1>Trouvez votre perle parmi XX perles sur MyPearl</h1>
    <br>
    <div style="text-align: center">
        <a href="#">
            <img src="img/logo.jpg" alt="logo">
        </a>
    </div>
    <br>
    <p>
        MyPearl vous accompagne au quotidien et durant toute l’année pour vous permettre de trouver les meilleurs prix
        du moment.
        Toute l’équipe s’engage à proposer des produits de qualité avec des prix inférieurs à 10 € !
        Dans la #TeamRadins on aime partager ! Vous aussi ? Alors faites profiter vos familles et amis de nos meilleures
        perles !
    </p>
{% endblock %}

